// main

input.clase-name_jander   {

  color: white  ;

}

.n1 {
  .n2 {
    .n3 {
      .n4 {
        display: jander;
        
}
}
}
}

.empty-selector {}

.a .b .c .d .e .f .g .h .i .j .k {
  -webkit-border-radius: 5px;
}

.color-1 {
  color: #000;
}

.color-2 {
  color: #000000;
}
  
.aa {
  margin: 0;
  margin: 0;
}
  
